<?xml version="1.0" encoding="utf-8"?>
<Media Key="23a76962-ec6c-4fc4-9e70-4fe7f83c9101" Alias="Cover+Pic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CoverplusPic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-07T12:06:19</CreateDate>
    <NodeName Default="Cover+Pic" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mruloi1m/coverpluspic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>