<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9f0b45b-bc70-405f-9a23-bb3e35954394" Alias="Founder+Pic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FounderplusPic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-07T12:00:01</CreateDate>
    <NodeName Default="Founder+Pic" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lw0pbklq/founderpluspic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>