<?xml version="1.0" encoding="utf-8"?>
<Media Key="344ae803-2609-4ab1-b3ec-722f6de352b6" Alias="Pexels Jess Bailey Designs 929774" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsJessBaileyDesigns929774</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-17T19:47:23</CreateDate>
    <NodeName Default="Pexels Jess Bailey Designs 929774" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/axueunaj/pexels-jess-bailey-designs-929774.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>