<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f17bd18-b5ad-4a6b-a4a9-003717d15336" Alias="Pexels Field Engineer 442151" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsFieldEngineer442151</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-09T15:10:50</CreateDate>
    <NodeName Default="Pexels Field Engineer 442151" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d04bol3n/pexels-field-engineer-442151.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>