<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4b39888-de5e-486f-96e5-27624dcd40c6" Alias="Banner Page - Title - Textbox" Level="1">
  <Info>
    <Name>Banner Page - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>