<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfb1a64d-a170-411b-ae0e-c425a10723de" Alias="Caption Image Settings - Image Position - Radio button list" Level="1">
  <Info>
    <Name>Caption Image Settings - Image Position - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Image Left"
    },
    {
      "id": 2,
      "value": "Image Right"
    }
  ]
}]]></Config>
</DataType>