<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7db7bef4-c88e-4d1d-9654-05361b952c58" Alias="Caption Image Element - Layout" Level="1">
  <Info>
    <Name>Caption Image Element - Layout</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    },
    {
      "id": 3,
      "value": "Center"
    }
  ]
}]]></Config>
</DataType>