<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd096bfc-5280-42c1-bba9-e61a8be1d34d" Alias="12 Column Page - Body - Block Grid" Level="1">
  <Info>
    <Name>12 Column Page - Body - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "b05a9a98-37d8-4bdc-a345-a06be222183f",
      "name": "Structural"
    },
    {
      "key": "128d4742-d5d7-4710-9cce-de81cded6558",
      "name": "Media"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "contentElementTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": true,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "contentElementTypeKey": "b206ae98-82e6-44ac-9719-f95528c5e11d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": true,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ded8ae96-063b-426e-bca1-6f61077b8037",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [
        {
          "alias": "Columns",
          "columnSpan": 12,
          "createLabel": "Add Column",
          "key": "c93f10a5-0f03-4d6c-81dd-9a808395d937",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "b9f49e95-c4b2-4aa8-85a7-6560b7adb498",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b05a9a98-37d8-4bdc-a345-a06be222183f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Row",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "74d64b4b-d726-4c09-bd17-483a15c1ae1f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Content",
          "columnSpan": 12,
          "createLabel": null,
          "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "contentElementTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b05a9a98-37d8-4bdc-a345-a06be222183f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Column",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Content",
          "columnSpan": 12,
          "createLabel": null,
          "key": "0ca9a675-c979-4e8a-8850-e4e4589361e3",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "b9f49e95-c4b2-4aa8-85a7-6560b7adb498",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "e7a796c1-d127-444b-a703-6b7ceab7a56e",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e7a796c1-d127-444b-a703-6b7ceab7a56e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b05a9a98-37d8-4bdc-a345-a06be222183f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Container",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6a84dfb3-36fb-469f-844b-a554401ccff0",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Content",
          "columnSpan": 12,
          "createLabel": null,
          "key": "a928c41a-8a4c-438e-86cf-6f7c440dffad",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "5c3edbf0-f8d1-4cf6-8298-eb6300e69f99",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b05a9a98-37d8-4bdc-a345-a06be222183f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Block",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "3b73cc3a-88c6-4d90-b2d6-8a3fdc45ae6d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "contentElementTypeKey": "c69aa949-912d-40aa-aa76-4d4914bdfa60",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "128d4742-d5d7-4710-9cce-de81cded6558",
      "iconColor": null,
      "inlineEditing": true,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "289bf26d-85f7-43a3-85b2-705f26f0a9d1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "174ef110-41d4-4162-b325-31d3aad21523",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "128d4742-d5d7-4710-9cce-de81cded6558",
      "iconColor": null,
      "inlineEditing": true,
      "label": "Caption Image",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "8b5fd946-95f4-4e94-b738-8ce6c8ae79dd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "306651d9-5833-469d-ae7c-6a63f2e43940",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "Markdown",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "d7f78cc1-d09e-4f85-a4f3-e35333e3a99c",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": 12,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": "100%",
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>