<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05e01e25-df86-4a24-8847-e7eb69101427" Alias="Element Settings - Background Image - Image Cropper" Level="1">
  <Info>
    <Name>Element Settings - Background Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>