<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4554878-5fa6-4e65-a2a6-b2aadd45604b" Alias="Element Settings - CSS Class List - Textbox" Level="1">
  <Info>
    <Name>Element Settings - CSS Class List - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>