<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c824de17-ea87-4b63-a4c9-49033da999aa" Alias="Element Settings - Background Color - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Element Settings - Background Color - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": true,
  "ShowPalette": true
}]]></Config>
</DataType>