<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da181fe3-8148-47c9-a377-6ea71a13d632" Alias="Element Settings - Background Image - Media Picker" Level="1">
  <Info>
    <Name>Element Settings - Background Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>