<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87b6e928-492e-4608-95a5-779474bc2b35" Alias="Element Settings - Background Color - Color Picker" Level="1">
  <Info>
    <Name>Element Settings - Background Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "UseLabel": false
}]]></Config>
</DataType>