<?xml version="1.0" encoding="utf-8"?>
<DataType Key="521e87af-1065-4d4c-a957-4b3b004d99fc" Alias="Element Settings - Inline Styles - Textarea" Level="1">
  <Info>
    <Name>Element Settings - Inline Styles - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>