<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56075cac-511e-40de-b175-e5e7a2e2c4e8" Alias="Event Post - Event Summary - Textarea" Level="1">
  <Info>
    <Name>Event Post - Event Summary - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 255,
  "Rows": 4
}]]></Config>
</DataType>