<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e4771cb-329b-44eb-a8e1-243943545d44" Alias="Event Post - Event Image - Media Picker" Level="1">
  <Info>
    <Name>Event Post - Event Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>