<?xml version="1.0" encoding="utf-8"?>
<DataType Key="419dbc4d-3e51-4048-b730-1438872b70f2" Alias="Event Post - Event Title - Textbox" Level="1">
  <Info>
    <Name>Event Post - Event Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>