<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33547204-9bc5-46f7-bcd4-aa73c8b99b3d" Alias="Extended Mission Statement Blocks" Level="1">
  <Info>
    <Name>Extended Mission Statement Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "174ef110-41d4-4162-b325-31d3aad21523",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Extended Mission Item",
      "settingsElementTypeKey": "8b5fd946-95f4-4e94-b738-8ce6c8ae79dd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>