<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0023d081-22f9-438f-a2cc-9f202b75a2c1" Alias="History and Objectives Page - Page Title - Textbox" Level="1">
  <Info>
    <Name>History and Objectives Page - Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>