<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27504671-e695-4ba5-a3a2-6cb7bf06e745" Alias="Image Element Settings - Width - Textbox" Level="1">
  <Info>
    <Name>Image Element Settings - Width - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>