<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e2b318b-3870-418a-83d5-9afd4292b0bc" Alias="Markdown - Content - Markdown editor" Level="1">
  <Info>
    <Name>Markdown - Content - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>