<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ccc02495-a038-4208-a7ea-47e60ba8a05b" Alias="Standard Page - Featured Image - Image Cropper" Level="1">
  <Info>
    <Name>Standard Page - Featured Image - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>