<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68a0ca22-14ab-4e37-8e85-ace822dc01e1" Alias="Standard Page - URL Slug - Textbox" Level="1">
  <Info>
    <Name>Standard Page - URL Slug - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>