<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da1789a8-f45b-4eb2-86e8-685666ad2baa" Alias="Standard Page - Navigation Title - Textbox" Level="1">
  <Info>
    <Name>Standard Page - Navigation Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>