<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ac5db7f-610c-4f68-bb79-435a3dba4f7e" Alias="Standard Page - Page Title - Textbox" Level="1">
  <Info>
    <Name>Standard Page - Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>