<?xml version="1.0" encoding="utf-8"?>
<Content Key="982053eb-9545-4bc7-9ed8-b3373d844060" Alias="Abduljabbar S." Level="4">
  <Info>
    <Parent Key="d67770aa-29aa-4c13-ba01-6b4f28f0b60a">Executive Board</Parent>
    <Path>/HomePage/About/ExecutiveBoard/AbduljabbarS</Path>
    <Trashed>false</Trashed>
    <ContentType>eBoardMember</ContentType>
    <CreateDate>2024-09-02T12:26:32</CreateDate>
    <NodeName Default="Abduljabbar S." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[Abduljabbar S.]]></Value>
    </displayName>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <role>
      <Value><![CDATA[Vice President]]></Value>
    </role>
  </Properties>
</Content>