<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5cc7134-ead0-48ff-8d96-b33f70bd8518" Alias="About" Level="2">
  <Info>
    <Parent Key="2f630a0c-5893-4446-9350-1f2aaee8073e">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage2</ContentType>
    <CreateDate>2024-03-23T16:32:19</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f803e123-dca5-42ef-aa12-c4fa5e24f597">AboutPage2</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>