<?xml version="1.0" encoding="utf-8"?>
<Content Key="40b1176b-904f-4cd8-b029-fcbb4b07dd80" Alias="Bakari Smith" Level="4">
  <Info>
    <Parent Key="d67770aa-29aa-4c13-ba01-6b4f28f0b60a">Executive Board</Parent>
    <Path>/HomePage/About/ExecutiveBoard/BakariSmith</Path>
    <Trashed>false</Trashed>
    <ContentType>eBoardMember</ContentType>
    <CreateDate>2024-09-02T12:25:58</CreateDate>
    <NodeName Default="Bakari Smith" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[Bakari Smith]]></Value>
    </displayName>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <role>
      <Value><![CDATA[Secretary]]></Value>
    </role>
  </Properties>
</Content>