<?xml version="1.0" encoding="utf-8"?>
<Content Key="90d73667-6b1e-4620-ae7b-934075f4882a" Alias="Brian Smith" Level="4">
  <Info>
    <Parent Key="d67770aa-29aa-4c13-ba01-6b4f28f0b60a">Executive Board</Parent>
    <Path>/HomePage/About/ExecutiveBoard/BrianSmith</Path>
    <Trashed>false</Trashed>
    <ContentType>eBoardMember</ContentType>
    <CreateDate>2024-09-02T12:26:53</CreateDate>
    <NodeName Default="Brian Smith" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[Brian Smith]]></Value>
    </displayName>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <role>
      <Value><![CDATA[Chapter Advisor]]></Value>
    </role>
  </Properties>
</Content>