<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ce2cd62-61a4-4421-92f8-9ade94f7f548" Alias="Events" Level="2">
  <Info>
    <Parent Key="2f630a0c-5893-4446-9350-1f2aaee8073e">Home</Parent>
    <Path>/Home/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>eventsPage</ContentType>
    <CreateDate>2024-03-23T16:10:39</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9d081ef8-7a45-4e35-a6f2-3dddd41d93e0">EventsPage</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Events]]></Value>
    </pageTitle>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>