<?xml version="1.0" encoding="utf-8"?>
<Content Key="14f1e0a3-ac88-4803-a011-f5a0a1d1149d" Alias="Executive Board" Level="3">
  <Info>
    <Parent Key="d5cc7134-ead0-48ff-8d96-b33f70bd8518">About</Parent>
    <Path>/Home/About/ExecutiveBoard</Path>
    <Trashed>false</Trashed>
    <ContentType>executiveBoard</ContentType>
    <CreateDate>2024-03-23T16:46:05</CreateDate>
    <NodeName Default="Executive Board" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1c3df99c-383a-4a62-a444-8efc35ce9e36">ExecutiveBoard</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "0ca9a675-c979-4e8a-8850-e4e4589361e3",
            "items": [
              {
                "areas": [
                  {
                    "key": "c93f10a5-0f03-4d6c-81dd-9a808395d937",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/99c5b4d6118a476db3800af5bd9a3fa0",
                                "settingsUdi": "umb://element/54551119ca9a4e789fa2f09d58fdfd4c"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/53a13567f4c94ad6a04cdfbe4cd0c3d0",
                                "settingsUdi": "umb://element/39f8a0dcb1d64b71bc9711a9872a36aa"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/21c4ec9d74a94065ad6f260996051f6e",
                                "settingsUdi": "umb://element/7af1a8992b4c4f10aa199c4a7791dca5"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/620db3db26c34a3ea6b67c36e7fbd509",
                        "settingsUdi": "umb://element/fc41f0831cc040f48549f72f1f83b6df"
                      },
                      {
                        "areas": [
                          {
                            "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/6e29942195904622a2310aa48830c97a",
                                "settingsUdi": "umb://element/a3c6c43dea594bb390e4171c4be18dcc"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/bef4c14507b9405f88e04f8963744149",
                                "settingsUdi": "umb://element/f7731f5709344af59811bd768cce24ef"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/733ed529f7da4bc3b5e0badc8bc62428",
                                "settingsUdi": "umb://element/aa1187bd54964be5a1037e5e5ba5d35d"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/080fef8f2fd447029a300885b2a1a1aa",
                        "settingsUdi": "umb://element/a18468620cee4cc6bff7143eebc2a225"
                      },
                      {
                        "areas": [
                          {
                            "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/1e8c593d5e4c4e25a893469fd1c43792",
                                "settingsUdi": "umb://element/c1f5ad2759104e9294a20a8875c04229"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/719a0098cdf145518b8f9f2d39a788d8",
                                "settingsUdi": "umb://element/4ebe632a1e5f49d59ece27e0e4c9ea37"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/598e4482a6a04c3392d7461995a668b2",
                                "settingsUdi": "umb://element/bd0d8fa103054585bc14aa2438bb3729"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/c943d309278e444d821472fa0462baeb",
                        "settingsUdi": "umb://element/de673349a08c44b1b6db6c83919ab584"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/16ca72e30fd44f928316bd51a9b3848f",
                "settingsUdi": "umb://element/0ca3451d01794b82a7fe59255d05406a"
              },
              {
                "areas": [
                  {
                    "key": "c93f10a5-0f03-4d6c-81dd-9a808395d937",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/9ca2651cea674c598a7540335ef556eb",
                                "settingsUdi": "umb://element/f32e01fea2f849299c9595b400fd3dfc"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/67aa02bca197468aa14b19b2d1effcbc",
                                "settingsUdi": "umb://element/1d1eda418233450facf4a50245ba461d"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/938bd313a05442e3a61889077d9e0446",
                                "settingsUdi": "umb://element/715cbb39b2574fef8f850512ef854d7a"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/3c59ad8b43164839ba846f0de4f6e8d4",
                        "settingsUdi": "umb://element/56ad8bd47cd944aa9df222d7a5c667bf"
                      },
                      {
                        "areas": [
                          {
                            "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/9451f5f6812e40c6a7a7e46836447214",
                                "settingsUdi": "umb://element/a7f48d446c0342e093c85d70702dec6e"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/558ba13e2128475084379436ba5f2f27",
                                "settingsUdi": "umb://element/40f9af8accf544509d832e8642c098f6"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/c87b8517aa4e462d9e4ca60454cef367",
                                "settingsUdi": "umb://element/b5eaca861d7b44348c74efb18ace0299"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/30989bbf6e404bc3830a4b3084705901",
                        "settingsUdi": "umb://element/a59446608dac4ea8b5d19c864da07341"
                      },
                      {
                        "areas": [
                          {
                            "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/fa4e81706ebf472f868088df8852deea",
                                "settingsUdi": "umb://element/fca9a6cf3d9c4ee2ba567682d557dc27"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/c662e49ae7244f05a82aeb59c4d0fd1a",
                                "settingsUdi": "umb://element/6d1e33bfb8464d8c981a7fa4c2a9f846"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/669c1257c54f436f82800b66fe09aed4",
                                "settingsUdi": "umb://element/35bbebddb1ed4859968417a6af32187c"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/cecbfb323c9a4e3c95bf1e5e1f5fb9ea",
                        "settingsUdi": "umb://element/c17479a430db49639633ef77f0a3cf21"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/444f3e98a20c4a81bb5f8c446afaee16",
                "settingsUdi": "umb://element/15feb7aea02c456eb7c5ff4636220243"
              },
              {
                "areas": [
                  {
                    "key": "c93f10a5-0f03-4d6c-81dd-9a808395d937",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/5f84d0cfb237428cbb6e01ef1ff14ef5",
                                "settingsUdi": "umb://element/971e5ee7cc32454e8edde965fc36f762"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/16f8adffe278432b8d0562fa00e72efb",
                                "settingsUdi": "umb://element/23557298ec7f4d01a01ed4702df672ca"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/60651f2ad30b416498d3083f3064ea1e",
                                "settingsUdi": "umb://element/e2a45dec51a74912b15d3d1dc6f9bb68"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/c9a27a25bce24b908e8b77a8b88e9bc1",
                        "settingsUdi": "umb://element/abc1803ac7e6431685874c3d3a364b12"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/e40232b330ce4cfc882f8a65f48122ac",
                "settingsUdi": "umb://element/b78905a573e94ddb963d3f70bae9ff65"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/72d4d65e843d460a8c49ad8911bbb3ad",
        "settingsUdi": "umb://element/47766423e0aa463ab042b28f51b7da33"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e7a796c1-d127-444b-a703-6b7ceab7a56e",
      "udi": "umb://element/72d4d65e843d460a8c49ad8911bbb3ad"
    },
    {
      "contentTypeKey": "b9f49e95-c4b2-4aa8-85a7-6560b7adb498",
      "udi": "umb://element/16ca72e30fd44f928316bd51a9b3848f"
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/620db3db26c34a3ea6b67c36e7fbd509"
    },
    {
      "contentTypeKey": "c69aa949-912d-40aa-aa76-4d4914bdfa60",
      "udi": "umb://element/99c5b4d6118a476db3800af5bd9a3fa0",
      "image": [
        {
          "key": "a8f9b870-386d-48b8-a1ac-f32c2bb3e961",
          "mediaKey": "344ae803-2609-4ab1-b3ec-722f6de352b6"
        }
      ]
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/53a13567f4c94ad6a04cdfbe4cd0c3d0",
      "headline": "President"
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/21c4ec9d74a94065ad6f260996051f6e",
      "headline": "Jaia Ruffin"
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/080fef8f2fd447029a300885b2a1a1aa"
    },
    {
      "contentTypeKey": "c69aa949-912d-40aa-aa76-4d4914bdfa60",
      "udi": "umb://element/6e29942195904622a2310aa48830c97a",
      "image": [
        {
          "key": "377fb634-1f89-4699-b680-8b16b9794168",
          "mediaKey": "344ae803-2609-4ab1-b3ec-722f6de352b6"
        }
      ]
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/bef4c14507b9405f88e04f8963744149",
      "headline": "Vice President"
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/733ed529f7da4bc3b5e0badc8bc62428",
      "headline": ""
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/c943d309278e444d821472fa0462baeb"
    },
    {
      "contentTypeKey": "c69aa949-912d-40aa-aa76-4d4914bdfa60",
      "udi": "umb://element/1e8c593d5e4c4e25a893469fd1c43792",
      "image": [
        {
          "key": "086e776b-2e57-465a-a120-042dc9c48160",
          "mediaKey": "344ae803-2609-4ab1-b3ec-722f6de352b6"
        }
      ]
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/719a0098cdf145518b8f9f2d39a788d8",
      "headline": "Treasurer"
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/598e4482a6a04c3392d7461995a668b2",
      "headline": ""
    },
    {
      "contentTypeKey": "b9f49e95-c4b2-4aa8-85a7-6560b7adb498",
      "udi": "umb://element/444f3e98a20c4a81bb5f8c446afaee16"
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/3c59ad8b43164839ba846f0de4f6e8d4"
    },
    {
      "contentTypeKey": "c69aa949-912d-40aa-aa76-4d4914bdfa60",
      "udi": "umb://element/9ca2651cea674c598a7540335ef556eb",
      "image": [
        {
          "key": "a8f9b870-386d-48b8-a1ac-f32c2bb3e961",
          "mediaKey": "344ae803-2609-4ab1-b3ec-722f6de352b6"
        }
      ]
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/67aa02bca197468aa14b19b2d1effcbc",
      "headline": "Secretary"
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/938bd313a05442e3a61889077d9e0446",
      "headline": "Bakari Smith"
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/30989bbf6e404bc3830a4b3084705901"
    },
    {
      "contentTypeKey": "c69aa949-912d-40aa-aa76-4d4914bdfa60",
      "udi": "umb://element/9451f5f6812e40c6a7a7e46836447214",
      "image": [
        {
          "key": "377fb634-1f89-4699-b680-8b16b9794168",
          "mediaKey": "344ae803-2609-4ab1-b3ec-722f6de352b6"
        }
      ]
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/558ba13e2128475084379436ba5f2f27",
      "headline": "Programs Chair"
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/c87b8517aa4e462d9e4ca60454cef367",
      "headline": ""
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/cecbfb323c9a4e3c95bf1e5e1f5fb9ea"
    },
    {
      "contentTypeKey": "c69aa949-912d-40aa-aa76-4d4914bdfa60",
      "udi": "umb://element/fa4e81706ebf472f868088df8852deea",
      "image": [
        {
          "key": "086e776b-2e57-465a-a120-042dc9c48160",
          "mediaKey": "344ae803-2609-4ab1-b3ec-722f6de352b6"
        }
      ]
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/c662e49ae7244f05a82aeb59c4d0fd1a",
      "headline": "Delegate"
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/669c1257c54f436f82800b66fe09aed4",
      "headline": ""
    },
    {
      "contentTypeKey": "b9f49e95-c4b2-4aa8-85a7-6560b7adb498",
      "udi": "umb://element/e40232b330ce4cfc882f8a65f48122ac"
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/c9a27a25bce24b908e8b77a8b88e9bc1"
    },
    {
      "contentTypeKey": "c69aa949-912d-40aa-aa76-4d4914bdfa60",
      "udi": "umb://element/5f84d0cfb237428cbb6e01ef1ff14ef5",
      "image": [
        {
          "key": "a8f9b870-386d-48b8-a1ac-f32c2bb3e961",
          "mediaKey": "344ae803-2609-4ab1-b3ec-722f6de352b6"
        }
      ]
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/16f8adffe278432b8d0562fa00e72efb",
      "headline": "Information Chair"
    },
    {
      "contentTypeKey": "3379e6e7-0b7e-4862-9dba-77fc8a2ac672",
      "udi": "umb://element/60651f2ad30b416498d3083f3064ea1e",
      "headline": "Isioma Nnodum"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6a84dfb3-36fb-469f-844b-a554401ccff0",
      "udi": "umb://element/47766423e0aa463ab042b28f51b7da33",
      "fullWidth": "1",
      "cssClass": "p-4",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "74d64b4b-d726-4c09-bd17-483a15c1ae1f",
      "udi": "umb://element/0ca3451d01794b82a7fe59255d05406a",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/fc41f0831cc040f48549f72f1f83b6df",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "289bf26d-85f7-43a3-85b2-705f26f0a9d1",
      "udi": "umb://element/54551119ca9a4e789fa2f09d58fdfd4c",
      "width": "",
      "height": "",
      "cssClass": "p-4 img-thumbnail",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/39f8a0dcb1d64b71bc9711a9872a36aa",
      "cssClass": "h4 p-3 pb-0 text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/7af1a8992b4c4f10aa199c4a7791dca5",
      "cssClass": "h3 fw-light text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/a18468620cee4cc6bff7143eebc2a225",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "289bf26d-85f7-43a3-85b2-705f26f0a9d1",
      "udi": "umb://element/a3c6c43dea594bb390e4171c4be18dcc",
      "width": "",
      "height": "",
      "cssClass": "p-4 img-thumbnail",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/f7731f5709344af59811bd768cce24ef",
      "cssClass": "h4 p-3 pb-0 text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/aa1187bd54964be5a1037e5e5ba5d35d",
      "cssClass": "h3 fw-light text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/de673349a08c44b1b6db6c83919ab584",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "289bf26d-85f7-43a3-85b2-705f26f0a9d1",
      "udi": "umb://element/c1f5ad2759104e9294a20a8875c04229",
      "width": "",
      "height": "",
      "cssClass": "p-4 img-thumbnail",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/4ebe632a1e5f49d59ece27e0e4c9ea37",
      "cssClass": "h4 p-3 pb-0 text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/bd0d8fa103054585bc14aa2438bb3729",
      "cssClass": "h3 fw-light text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "74d64b4b-d726-4c09-bd17-483a15c1ae1f",
      "udi": "umb://element/15feb7aea02c456eb7c5ff4636220243",
      "cssClass": "mt-5",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/56ad8bd47cd944aa9df222d7a5c667bf",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "289bf26d-85f7-43a3-85b2-705f26f0a9d1",
      "udi": "umb://element/f32e01fea2f849299c9595b400fd3dfc",
      "width": "",
      "height": "",
      "cssClass": "p-4 img-thumbnail",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/1d1eda418233450facf4a50245ba461d",
      "cssClass": "h4 p-3 pb-0 text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/715cbb39b2574fef8f850512ef854d7a",
      "cssClass": "h3 fw-light text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/a59446608dac4ea8b5d19c864da07341",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "289bf26d-85f7-43a3-85b2-705f26f0a9d1",
      "udi": "umb://element/a7f48d446c0342e093c85d70702dec6e",
      "width": "",
      "height": "",
      "cssClass": "p-4 img-thumbnail",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/40f9af8accf544509d832e8642c098f6",
      "cssClass": "h4 p-3 pb-0 text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/b5eaca861d7b44348c74efb18ace0299",
      "cssClass": "h3 fw-light text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/c17479a430db49639633ef77f0a3cf21",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "289bf26d-85f7-43a3-85b2-705f26f0a9d1",
      "udi": "umb://element/fca9a6cf3d9c4ee2ba567682d557dc27",
      "width": "",
      "height": "",
      "cssClass": "p-4 img-thumbnail",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/6d1e33bfb8464d8c981a7fa4c2a9f846",
      "cssClass": "h4 p-3 pb-0 text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/35bbebddb1ed4859968417a6af32187c",
      "cssClass": "h3 fw-light text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "74d64b4b-d726-4c09-bd17-483a15c1ae1f",
      "udi": "umb://element/b78905a573e94ddb963d3f70bae9ff65",
      "cssClass": "mt-5",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/abc1803ac7e6431685874c3d3a364b12",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "289bf26d-85f7-43a3-85b2-705f26f0a9d1",
      "udi": "umb://element/971e5ee7cc32454e8edde965fc36f762",
      "width": "",
      "height": "",
      "cssClass": "p-4 img-thumbnail",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/23557298ec7f4d01a01ed4702df672ca",
      "cssClass": "h4 p-3 pb-0 text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "3f859f4d-fa1b-4c33-a7f9-056213e034aa",
      "udi": "umb://element/e2a45dec51a74912b15d3d1dc6f9bb68",
      "cssClass": "h3 fw-light text-center",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    }
  ]
}]]></Value>
    </body>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[2023-24 Executive Board]]></Value>
    </pageTitle>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>