<?xml version="1.0" encoding="utf-8"?>
<Content Key="d67770aa-29aa-4c13-ba01-6b4f28f0b60a" Alias="Executive Board" Level="3">
  <Info>
    <Parent Key="729a0dcc-a7bc-40b4-84ba-38b88baf487f">About</Parent>
    <Path>/HomePage/About/ExecutiveBoard</Path>
    <Trashed>false</Trashed>
    <ContentType>executiveBoard</ContentType>
    <CreateDate>2024-04-29T20:02:47</CreateDate>
    <NodeName Default="Executive Board" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d41e807-faa0-4b3d-b69e-a1e7ee46a85b">ExecutiveBoard2</Template>
  </Info>
  <Properties>
    <bannerBackground>
      <Value><![CDATA[]]></Value>
    </bannerBackground>
    <bannerTitle>
      <Value><![CDATA[2023-24 Executive Board]]></Value>
    </bannerTitle>
    <breadcrumbOverride>
      <Value><![CDATA[]]></Value>
    </breadcrumbOverride>
    <browserPageTitle>
      <Value><![CDATA[]]></Value>
    </browserPageTitle>
    <mainNaviHide>
      <Value><![CDATA[0]]></Value>
    </mainNaviHide>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageSubtitle>
      <Value><![CDATA[]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <requestNoFollowNoIndex>
      <Value><![CDATA[0]]></Value>
    </requestNoFollowNoIndex>
    <siteTags>
      <Value><![CDATA[]]></Value>
    </siteTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>