<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b911d36-4a8e-4d8f-a8af-156a017c3dbd" Alias="First Time Homebuyer Workshop Sign Up" Level="3">
  <Info>
    <Parent Key="6ce2cd62-61a4-4421-92f8-9ade94f7f548">Events</Parent>
    <Path>/Home/Events/FirstTimeHomebuyerWorkshopSignUp</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPost</ContentType>
    <CreateDate>2024-03-23T18:12:33</CreateDate>
    <NodeName Default="First Time Homebuyer Workshop Sign Up" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68723940-c75a-4f0e-b08f-4fe9c5b0fde0">EventPost</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <eventCategory>
      <Value><![CDATA[[
  "finances",
  "stocks",
  "real estate"
]]]></Value>
    </eventCategory>
    <eventDate>
      <Value><![CDATA[2021-05-28T16:02:00]]></Value>
    </eventDate>
    <eventDescription>
      <Value><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mi dui, dictum non diam ac, faucibus viverra nunc. Proin rhoncus eleifend erat. Nunc in suscipit dolor. Donec mi diam, auctor ultricies nunc id, vehicula convallis tellus. Nam at neque euismod, bibendum arcu eget, lacinia erat. Suspendisse eu ante fringilla velit vestibulum vehicula eu ut odio. Fusce lobortis orci eget nisl feugiat, eget fermentum ipsum gravida. Morbi et tristique lacus. Donec auctor dui quis facilisis commodo. Ut rhoncus blandit euismod. Curabitur quis fringilla neque. Aliquam finibus auctor nibh at lacinia.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </eventDescription>
    <eventSummary>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mi dui, dictum non diam ac, faucibus viverra nunc. Proin rhoncus eleifend erat. Nunc in suscipit dolor. Donec mi diam, auctor ultricies nunc id, vehicula convallis tellus.]]></Value>
    </eventSummary>
    <eventTitle>
      <Value><![CDATA[First Time Homebuyer Workshop Sign Up]]></Value>
    </eventTitle>
    <featuredImage>
      <Value><![CDATA[{
  "src": "/media/mnqpqpcx/01.jpg"
}]]></Value>
    </featuredImage>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[First Time Homebuyer]]></Value>
    </pageTitle>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>