<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cbe3a83-9307-4bc8-8238-b2025647752b" Alias="History and Objectives" Level="3">
  <Info>
    <Parent Key="d5cc7134-ead0-48ff-8d96-b33f70bd8518">About</Parent>
    <Path>/Home/About/HistoryAndObjectives</Path>
    <Trashed>false</Trashed>
    <ContentType>historyAndObjectivesPage1</ContentType>
    <CreateDate>2024-03-23T16:26:54</CreateDate>
    <NodeName Default="History and Objectives" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f90a1eb9-6513-469f-8ce3-b8f29af2af13">HistoryAndObjectives</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "c93f10a5-0f03-4d6c-81dd-9a808395d937",
            "items": [
              {
                "areas": [
                  {
                    "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "c93f10a5-0f03-4d6c-81dd-9a808395d937",
                            "items": [
                              {
                                "areas": [
                                  {
                                    "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                                    "items": [
                                      {
                                        "areas": [],
                                        "columnSpan": 12,
                                        "rowSpan": 1,
                                        "contentUdi": "umb://element/6e3e617727054686a5adfdb3bf5f34d8",
                                        "settingsUdi": "umb://element/76c5a3e82edc48d0a3f9713de4690267"
                                      }
                                    ]
                                  }
                                ],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/9c53c4faca7d43c7bbf940d68503f966",
                                "settingsUdi": "umb://element/1339ae2403d74795998b117641487705"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/bac9340e47b3485fad100227527a2df0",
                        "settingsUdi": "umb://element/821985416f5d4858a769cc46fd56e708"
                      },
                      {
                        "areas": [
                          {
                            "key": "c93f10a5-0f03-4d6c-81dd-9a808395d937",
                            "items": [
                              {
                                "areas": [
                                  {
                                    "key": "1b72aebd-369f-459d-8ceb-f39af3c52fc6",
                                    "items": [
                                      {
                                        "areas": [],
                                        "columnSpan": 12,
                                        "rowSpan": 1,
                                        "contentUdi": "umb://element/d6c576e44d804a95a8659643ae8376f3",
                                        "settingsUdi": "umb://element/9ef348bb44054a579496f919f75d24ec"
                                      }
                                    ]
                                  }
                                ],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/1a35785d2ba44fd6b52da47e04deda5d",
                                "settingsUdi": "umb://element/71074040c65142938ea76562b8ecb764"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/7840a80594ec4a199fd94c21261394c1",
                        "settingsUdi": "umb://element/af164c8084364fcda9a3d629f9c61c73"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/792ef0e00683458581b3984f187d697e",
                "settingsUdi": "umb://element/a157927cf94746668261313bb772add2"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/2602df3a4fcb4015a5c65f1840f7c02e",
        "settingsUdi": "umb://element/1973c1d4a28b45cebef8461bf64b88f8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b9f49e95-c4b2-4aa8-85a7-6560b7adb498",
      "udi": "umb://element/2602df3a4fcb4015a5c65f1840f7c02e"
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/792ef0e00683458581b3984f187d697e"
    },
    {
      "contentTypeKey": "b9f49e95-c4b2-4aa8-85a7-6560b7adb498",
      "udi": "umb://element/bac9340e47b3485fad100227527a2df0"
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/9c53c4faca7d43c7bbf940d68503f966"
    },
    {
      "contentTypeKey": "174ef110-41d4-4162-b325-31d3aad21523",
      "udi": "umb://element/6e3e617727054686a5adfdb3bf5f34d8",
      "caption": {
        "markup": "<h4>History</h4>\n<p>Since its founding by six visionary leaders in 1975, the National Society of Black Engineers, a non-profit 501(c) (3) organization, has grown to more than 32,000 members globally, blossoming into a leading force in the lives of technical professionals and students on college campuses worldwide. NSBE Rochester Professionals was established in 2018 and officially chartered in 2020.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "3e32d9a7-3a04-4736-a73b-2f28cc812ab5",
          "mediaKey": "a9f0b45b-bc70-405f-9a23-bb3e35954394"
        }
      ]
    },
    {
      "contentTypeKey": "b9f49e95-c4b2-4aa8-85a7-6560b7adb498",
      "udi": "umb://element/7840a80594ec4a199fd94c21261394c1"
    },
    {
      "contentTypeKey": "c3f2904b-8f27-471a-8317-53cb7623426e",
      "udi": "umb://element/1a35785d2ba44fd6b52da47e04deda5d"
    },
    {
      "contentTypeKey": "174ef110-41d4-4162-b325-31d3aad21523",
      "udi": "umb://element/d6c576e44d804a95a8659643ae8376f3",
      "caption": {
        "markup": "<h4>Objectives</h4>\n<ol>\n<li>Develop the technical and professional skills of our members</li>\n<li>Function as a representative body on issues and developments that affect the careers of Black engineering and technical professionals</li>\n<li>Stimulate and develop student interest in STEM disciplines</li>\n<li>Increase and retain the number of minorities studying engineering at both the undergraduate and graduate levels</li>\n<li>Promote public awareness of engineering and the opportunities for the black community in the professions</li>\n</ol>\n<div class=\"page-edit-button-container\">\n<div class=\"page-edit-button-wrapper section-toolbar-button-wrapper\">\n<div class=\"css-q1bcfl\"></div>\n</div>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "acb0a016-88a5-429c-8ce5-b34e2df8be17",
          "mediaKey": "382a8664-4a39-40c9-9bd9-fec304d4d382"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "74d64b4b-d726-4c09-bd17-483a15c1ae1f",
      "udi": "umb://element/1973c1d4a28b45cebef8461bf64b88f8",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/a157927cf94746668261313bb772add2",
      "cssClass": "col-md-8 offset-md-2",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "74d64b4b-d726-4c09-bd17-483a15c1ae1f",
      "udi": "umb://element/821985416f5d4858a769cc46fd56e708",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/1339ae2403d74795998b117641487705",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "8b5fd946-95f4-4e94-b738-8ce6c8ae79dd",
      "udi": "umb://element/76c5a3e82edc48d0a3f9713de4690267",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": "",
      "imagePosition": "Image Right",
      "width": "",
      "height": ""
    },
    {
      "contentTypeKey": "74d64b4b-d726-4c09-bd17-483a15c1ae1f",
      "udi": "umb://element/af164c8084364fcda9a3d629f9c61c73",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "53bd4401-9a87-4ad6-81a7-2a8e343cf1ba",
      "udi": "umb://element/71074040c65142938ea76562b8ecb764",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": ""
    },
    {
      "contentTypeKey": "8b5fd946-95f4-4e94-b738-8ce6c8ae79dd",
      "udi": "umb://element/9ef348bb44054a579496f919f75d24ec",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": "",
      "imagePosition": "Image Left",
      "width": "",
      "height": ""
    }
  ]
}]]></Value>
    </body>
    <featuredImage>
      <Value><![CDATA[{
  "src": "/media/0zdmpk44/coverpluspic.jpg"
}]]></Value>
    </featuredImage>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[History and Objectives]]></Value>
    </pageTitle>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>