<?xml version="1.0" encoding="utf-8"?>
<Content Key="cafc7b19-ba1a-4fd0-aa78-a65460769552" Alias="History and Objectives" Level="3">
  <Info>
    <Parent Key="729a0dcc-a7bc-40b4-84ba-38b88baf487f">About</Parent>
    <Path>/HomePage/About/HistoryAndObjectives</Path>
    <Trashed>false</Trashed>
    <ContentType>historyAndObjectives</ContentType>
    <CreateDate>2024-04-29T19:48:22</CreateDate>
    <NodeName Default="History and Objectives" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f453cc7f-c23a-4fb1-829a-bcef37787a32">HistoryAndObjectives2</Template>
  </Info>
  <Properties>
    <bannerBackground>
      <Value><![CDATA[{
  "src": "/media/5ytdv5xr/coverpluspic.jpg"
}]]></Value>
    </bannerBackground>
    <bannerTitle>
      <Value><![CDATA[History and Objectives]]></Value>
    </bannerTitle>
    <breadcrumbOverride>
      <Value><![CDATA[]]></Value>
    </breadcrumbOverride>
    <browserPageTitle>
      <Value><![CDATA[]]></Value>
    </browserPageTitle>
    <historyPhoto>
      <Value><![CDATA[{
  "src": "/media/zchhlgya/founderpluspic.jpg"
}]]></Value>
    </historyPhoto>
    <historyText>
      <Value><![CDATA[{
  "markup": "<p>Since its founding by six visionary leaders in 1975, the National Society of Black Engineers, a non-profit 501(c) (3) organization, has grown to more than 32,000 members globally, blossoming into a leading force in the lives of technical professionals and students on college campuses worldwide. NSBE Rochester Professionals was established in 2018 and officially chartered in 2020.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </historyText>
    <mainNaviHide>
      <Value><![CDATA[0]]></Value>
    </mainNaviHide>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <objectivesPhoto>
      <Value><![CDATA[{
  "src": "/media/ihsf0zhz/nsbelogo_color_withname.png"
}]]></Value>
    </objectivesPhoto>
    <objectivesText>
      <Value><![CDATA[{
  "markup": "<ol>\n<li>Develop the technical and professional skills of our members</li>\n<li>Function as a representative body on issues and developments that affect the careers of Black engineering and technical professionals</li>\n<li>Stimulate and develop student interest in STEM disciplines</li>\n<li>Increase and retain the number of minorities studying engineering at both the undergraduate and graduate levels</li>\n<li>Promote public awareness of engineering and the opportunities for the black community in the professions</li>\n</ol>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </objectivesText>
    <pageSubtitle>
      <Value><![CDATA[]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <requestNoFollowNoIndex>
      <Value><![CDATA[0]]></Value>
    </requestNoFollowNoIndex>
    <siteTags>
      <Value><![CDATA[]]></Value>
    </siteTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>