<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5c389f7-1f44-4a10-a78b-3c64375bd4fa" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-04-29T15:37:11</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eebecc41-d8a2-4054-9994-de8cfc304d8b">Home</Template>
  </Info>
  <Properties>
    <bannerBackground>
      <Value><![CDATA[{
  "src": "/media/4gld4tpc/courtesy-of-visit-rochester.png"
}]]></Value>
    </bannerBackground>
    <bannerSubtitle>
      <Value><![CDATA[A nonprofit organization dedicated to Black Engineers in Rochester, NY.]]></Value>
    </bannerSubtitle>
    <bannerTitle>
      <Value><![CDATA[Rochester NSBE Professionals]]></Value>
    </bannerTitle>
    <breadcrumbOverride>
      <Value><![CDATA[]]></Value>
    </breadcrumbOverride>
    <browserPageTitle>
      <Value><![CDATA[Rochester NSBE Professionals]]></Value>
    </browserPageTitle>
    <extendedMissionStatement2>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f1415b1c70214d2cb78432228ee35cca",
        "settingsUdi": "umb://element/3fc15d43e9524b08858a3e13af67ee4c"
      },
      {
        "contentUdi": "umb://element/2137bee458c948e9afddd5c28037421c",
        "settingsUdi": "umb://element/7f0ca88a7a2e46d9b85041cb2096cbb8"
      },
      {
        "contentUdi": "umb://element/fc32e85e3eca412f83b3ef07f06ead80",
        "settingsUdi": "umb://element/a7e3175bef5342f8a7ae045534a431e3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "174ef110-41d4-4162-b325-31d3aad21523",
      "udi": "umb://element/f1415b1c70214d2cb78432228ee35cca",
      "caption": {
        "markup": "<p>There is an exciting adventure waiting for you after graduation! The NSBE Professionals can help you reach your end-game. Whether your final destination is education/research, entrepreneurship, or the C-Suite, we have the tools and mentors that you need to make you a success!</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "9f215a64-6818-436a-a433-84a1a88ba8b7",
          "mediaKey": "ff30873f-b4be-4b6f-930d-23c1979b9ff7"
        }
      ],
      "layout": "Left",
      "captionTitle": "Excel Academically"
    },
    {
      "contentTypeKey": "174ef110-41d4-4162-b325-31d3aad21523",
      "udi": "umb://element/2137bee458c948e9afddd5c28037421c",
      "caption": {
        "markup": "<p>Now more than ever building a legacy of wealth for our members and their families is priority. Through engaging professional development, we provide a variety of opportunities to build a future of stability and growth.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "fd195396-96dd-4dbe-8a85-93f4998c8c51",
          "mediaKey": "2f17bd18-b5ad-4a6b-a4a9-003717d15336"
        }
      ],
      "layout": "Right",
      "captionTitle": "Succeed Professionally"
    },
    {
      "contentTypeKey": "174ef110-41d4-4162-b325-31d3aad21523",
      "udi": "umb://element/fc32e85e3eca412f83b3ef07f06ead80",
      "caption": {
        "markup": "<p>Creative, engaging and interactive programs are the primary vehicles through which NSBE fulfills its mission. In addition to focusing on community impact through College Initiative and Pre-College Initiative programming, we focus on our members through Talent Development and Technical programming.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "ba568d6b-69a5-417a-8613-545e61dc8cb0",
          "mediaKey": "5de4c214-3eaa-4641-aadc-9893c20a83b4"
        }
      ],
      "layout": "Center",
      "captionTitle": "Positively Impact the Community"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8b5fd946-95f4-4e94-b738-8ce6c8ae79dd",
      "udi": "umb://element/3fc15d43e9524b08858a3e13af67ee4c",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": "",
      "imagePosition": "Image Left",
      "width": "",
      "height": ""
    },
    {
      "contentTypeKey": "8b5fd946-95f4-4e94-b738-8ce6c8ae79dd",
      "udi": "umb://element/7f0ca88a7a2e46d9b85041cb2096cbb8",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": "",
      "imagePosition": "Image Right",
      "width": "",
      "height": ""
    },
    {
      "contentTypeKey": "8b5fd946-95f4-4e94-b738-8ce6c8ae79dd",
      "udi": "umb://element/a7e3175bef5342f8a7ae045534a431e3",
      "cssClass": "",
      "inlineStyles": "",
      "backgroundImage": [],
      "backgroundColor": "",
      "imagePosition": "Image Left",
      "width": "",
      "height": ""
    }
  ]
}]]></Value>
    </extendedMissionStatement2>
    <mainNaviHide>
      <Value><![CDATA[0]]></Value>
    </mainNaviHide>
    <metaDescription>
      <Value><![CDATA[A nonprofit organization dedicated to Black Engineers in Rochester, NY.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[engineering, rochester, professionals]]></Value>
    </metaKeywords>
    <missionStatement>
      <Value><![CDATA[To Increase the Number of Culturally Responsible Black Engineers who Excel Academically, Succeed Professionally and Positively Impact the Community]]></Value>
    </missionStatement>
    <missionStatementHeading>
      <Value><![CDATA[The mission of the National Society of Black Engineers is]]></Value>
    </missionStatementHeading>
    <pageSubtitle>
      <Value><![CDATA[]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <requestNoFollowNoIndex>
      <Value><![CDATA[0]]></Value>
    </requestNoFollowNoIndex>
    <siteTags>
      <Value><![CDATA[]]></Value>
    </siteTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>