<?xml version="1.0" encoding="utf-8"?>
<Content Key="cca893c9-6a9c-4809-a46d-659ae55cae0f" Alias="Isioma Nnodum" Level="4">
  <Info>
    <Parent Key="d67770aa-29aa-4c13-ba01-6b4f28f0b60a">Executive Board</Parent>
    <Path>/HomePage/About/ExecutiveBoard/IsiomaNnodum</Path>
    <Trashed>false</Trashed>
    <ContentType>eBoardMember</ContentType>
    <CreateDate>2024-09-02T12:27:10</CreateDate>
    <NodeName Default="Isioma Nnodum" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[Isioma Nnodum]]></Value>
    </displayName>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <role>
      <Value><![CDATA[Webmaster]]></Value>
    </role>
  </Properties>
</Content>