<?xml version="1.0" encoding="utf-8"?>
<Content Key="15342171-47b7-4f18-8aaf-d5a1f9dadabc" Alias="Jaia Ruffin" Level="4">
  <Info>
    <Parent Key="d67770aa-29aa-4c13-ba01-6b4f28f0b60a">Executive Board</Parent>
    <Path>/HomePage/About/ExecutiveBoard/JaiaRuffin</Path>
    <Trashed>false</Trashed>
    <ContentType>eBoardMember</ContentType>
    <CreateDate>2024-09-02T12:25:35</CreateDate>
    <NodeName Default="Jaia Ruffin" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[Jaia Ruffin]]></Value>
    </displayName>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <role>
      <Value><![CDATA[President]]></Value>
    </role>
  </Properties>
</Content>