<?xml version="1.0" encoding="utf-8"?>
<Content Key="67d58bbe-7900-4c4a-b6ff-a5ba8b3ad32b" Alias="Join Mailing List" Level="2">
  <Info>
    <Parent Key="d5c389f7-1f44-4a10-a78b-3c64375bd4fa">Home Page</Parent>
    <Path>/HomePage/JoinMailingList</Path>
    <Trashed>false</Trashed>
    <ContentType>joinMailingList</ContentType>
    <CreateDate>2024-09-02T16:58:26</CreateDate>
    <NodeName Default="Join Mailing List" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b10cd7ff-1981-49cf-9e2b-abe0fb2862e2">JoinMailingList</Template>
  </Info>
  <Properties>
    <breadcrumbOverride>
      <Value><![CDATA[]]></Value>
    </breadcrumbOverride>
    <browserPageTitle>
      <Value><![CDATA[]]></Value>
    </browserPageTitle>
    <mainNaviHide>
      <Value><![CDATA[0]]></Value>
    </mainNaviHide>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageSubtitle>
      <Value><![CDATA[]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <requestNoFollowNoIndex>
      <Value><![CDATA[0]]></Value>
    </requestNoFollowNoIndex>
    <siteTags>
      <Value><![CDATA[]]></Value>
    </siteTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>