<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b5c03b5-f5ad-4791-b557-20df08dbff93" Alias="Site Configuration" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteConfiguration</Path>
    <Trashed>false</Trashed>
    <ContentType>siteConfiguration</ContentType>
    <CreateDate>2024-04-29T15:56:05</CreateDate>
    <NodeName Default="Site Configuration" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address1>
      <Value><![CDATA[P.O. Box 22761]]></Value>
    </address1>
    <address2>
      <Value><![CDATA[]]></Value>
    </address2>
    <city>
      <Value><![CDATA[Rochester]]></Value>
    </city>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <facebook>
      <Value><![CDATA[https://www.facebook.com/rocnsbe]]></Value>
    </facebook>
    <favicon>
      <Value><![CDATA[/media/5arccevk/favicon.png]]></Value>
    </favicon>
    <footerLogo>
      <Value><![CDATA[{
  "src": "/media/1syjztca/logofooter.png"
}]]></Value>
    </footerLogo>
    <footerNav1>
      <Value><![CDATA[[
  {
    "name": "About",
    "udi": "umb://document/cafc7b19ba1a4fd0aa78a65460769552"
  },
  {
    "name": "Events",
    "udi": "umb://document/57a9a7cd4aab47e8b286bd5ba121f412"
  },
  {
    "name": "Contact Us",
    "url": "/contact-us"
  },
  {
    "name": "Join ROCNSBE",
    "url": "/join"
  }
]]]></Value>
    </footerNav1>
    <footerNav1Title>
      <Value><![CDATA[Links]]></Value>
    </footerNav1Title>
    <footerNav2>
      <Value><![CDATA[[
  {
    "name": "NSBE",
    "target": "_blank",
    "url": "https://nsbe.org/"
  },
  {
    "name": "NSBE Professionals",
    "target": "_blank",
    "url": "https://www.nsbe.org/Professionals"
  },
  {
    "name": "Region I",
    "target": "_blank",
    "url": "https://www.nsbe.org/collegiate/regions/region1%20I"
  },
  {
    "name": "Join NSBE",
    "target": "_blank",
    "url": "https://connect.nsbe.org/NewUser.aspx"
  }
]]]></Value>
    </footerNav2>
    <footerNav2Title>
      <Value><![CDATA[More NSBE]]></Value>
    </footerNav2Title>
    <headerLogo>
      <Value><![CDATA[{
  "src": "/media/5whfr1g1/nsbelogo_color_withname.png"
}]]></Value>
    </headerLogo>
    <instagram>
      <Value><![CDATA[https://instagram.com/rocnsbe]]></Value>
    </instagram>
    <linkedIn>
      <Value><![CDATA[https://www.linkedin.com/in/nsbe-rochester-professionals]]></Value>
    </linkedIn>
    <logoText>
      <Value><![CDATA[ROC NSBE]]></Value>
    </logoText>
    <metaAuthor>
      <Value><![CDATA[Rochester NSBE Professionals]]></Value>
    </metaAuthor>
    <metaCopyright>
      <Value><![CDATA[&copy; 2024 Rochester NSBE Professionals. All Rights Reserved.]]></Value>
    </metaCopyright>
    <metaICBM>
      <Value><![CDATA[43.084627;-77.596066]]></Value>
    </metaICBM>
    <metaPlacename>
      <Value><![CDATA[Rochester]]></Value>
    </metaPlacename>
    <metaPosition>
      <Value><![CDATA[43.084627;-77.596066]]></Value>
    </metaPosition>
    <metaPostalCodes>
      <Value><![CDATA[14692]]></Value>
    </metaPostalCodes>
    <metaRegion>
      <Value><![CDATA[US-NY]]></Value>
    </metaRegion>
    <organizationName>
      <Value><![CDATA[Rochester NSBE Professionals]]></Value>
    </organizationName>
    <phone1>
      <Value><![CDATA[]]></Value>
    </phone1>
    <postalCode>
      <Value><![CDATA[14692]]></Value>
    </postalCode>
    <siteTitle>
      <Value><![CDATA[ROC NSBE]]></Value>
    </siteTitle>
    <state>
      <Value><![CDATA[NY]]></Value>
    </state>
    <youTube>
      <Value><![CDATA[]]></Value>
    </youTube>
  </Properties>
</Content>