.navbar-brand, .navbar-brand:hover {
    color: white;
}

@media (min-width: 992px) {
    .navbar-nav .nav-link, .navbar-nav .nav-link.active {
        color: white;
    }
}

.navbar-stuck .navbar-toggler-icon, .navbar-stuck .navbar-toggler-icon::after, .navbar-stuck .navbar-toggler-icon::before {
    background-color: var(--ar-navbar-toggler-color);
}

.navbar-toggler-icon, .navbar-toggler-icon::after, .navbar-toggler-icon::before {
    background-color: white;
}

.navbar-stuck .navbar-nav-svg {
    fill: var(--ar-navbar-toggler-color);
}

.navbar-stuck .navbar-brand, .navbar-stuck .navbar-nav .nav-link, .navbar-stuck .navbar-nav .nav-link.active {
    color: inherit;
}





.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

[data-bs-theme="dark"] .page-loading {
    background-color: #121519;
}

.page-loading.active {
    opacity: 1;
    visibility: visible;
}

.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.page-loading.active > .page-loading-inner {
    opacity: 1;
}

.page-loading-inner > span {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #6f788b;
}

[data-bs-theme="dark"] .page-loading-inner > span {
    color: #fff;
    opacity: .6;
}

.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    background-color: #d7dde2;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

[data-bs-theme="dark"] .page-spinner {
    background-color: rgba(255,255,255,.25);
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.background-overlay {
    --darkAccent-hsl: 330, 2.43902439%, 16.07843137%;
    --backgroundOverlayColor: hsla(var(--darkAccent-hsl), 1);
    background-color: var(--backgroundOverlayColor);
    opacity: 0.66;
}

:root {
    --white-hsl: 0, 0%, 100%;
    --black-hsl: 0, 0%, 0%;
    --safeLightAccent-hsl: 0, 0%, 100%;
    --safeDarkAccent-hsl: 218.18181818, 37.28813559%, 23.1372549%;
    --safeInverseAccent-hsl: 0, 0%, 100%;
    --safeInverseLightAccent-hsl: 0, 0%, 0%;
    --safeInverseDarkAccent-hsl: 0, 0%, 100%;
    --accent-hsl: 218.18181818, 37.28813559%, 23.1372549%;
    --lightAccent-hsl: 60, 7.46268657%, 86.8627451%;
    --darkAccent-hsl: 330, 2.43902439%, 16.07843137%;
    --siteBackgroundColor: hsla(var(--accent-hsl), 1);
}
