@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
  Layout = "Master.cshtml";



  string? pageTitle;
  pageTitle = Model.HasProperty(nameof(pageTitle)) && Model.HasValue(nameof(pageTitle))
    ? Model.Value<string>(nameof(pageTitle)) : null;



}


@section CustomCSS {

  <style>

    .navbar-nav-svg {
      fill: var(--ar-navbar-toggler-color);
    }

    .navbar-brand, .navbar-nav .nav-link, .navbar-nav .nav-link.active {
      color: inherit;
    }

      .navbar-brand, .navbar-brand:hover {
        color: inherit;
      }

  </style>

}



<!-- Hero -->
<section class="position-relative p-5">
  <div class="position-absolute w-100 h-100 top-0 start-0 bg-size-cover bg-position-center bg-light"></div>
  <div class="d-none d-md-block d-lg-none" style="height: 50px;"></div>
  <div class="d-none d-lg-block" style="height: 50px;"></div>
  <div class="container-fluid mx-0 px-0 position-relative z-2 h-100">
    <div class="row h-100">
      <div class="col-12 h-100 d-flex align-items-center p-5">
        <div class="w-100">
          <h2 class="display-5 text-center">@pageTitle</h2>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid" style="background-color: white;">
  @{
    await RenderContent();
  }
</section>



@functions {

  async Task RenderContent()
  {
    BlockGridModel? body;
    body = Model.Value<BlockGridModel>(nameof(body));
    @await Html.PartialAsync("Bootstrap/bsElement", body)
    ;
  }
}

