<?xml version="1.0" encoding="utf-8"?>
<Macro Key="108f68dd-4f74-49a0-936a-5b60157ea421" Alias="InstagramEmbed" Level="0">
  <Name>InstagramEmbed</Name>
  <MacroSource>~/Views/MacroPartials/InstagramEmbed.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>