<?xml version="1.0" encoding="utf-8"?>
<Macro Key="0867f04d-faf2-472a-aa11-fd80ac983e93" Alias="MailingListForm" Level="0">
  <Name>MailingListForm</Name>
  <MacroSource>~/Views/MacroPartials/MailingListForm.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>