<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ac15b63-7a04-42c1-bc10-a6f88a016aa6" Alias="aboutPage2" Level="1">
  <Info>
    <Name>About Page 2</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="a9eef64b-b264-4424-bb83-786acecf1dee">standardPage</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage2</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f803e123-dca5-42ef-aa12-c4fa5e24f597">AboutPage2</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0f3dae57-5bfa-4420-af0a-2d041804883d" SortOrder="0">executiveBoard1</ContentType>
    <ContentType Key="2011b729-f52f-4403-b637-92e242ec47e8" SortOrder="1">historyAndObjectivesPage1</ContentType>
    <ContentType Key="735433a5-6612-4c0f-ae07-7ae9500d367a" SortOrder="2">executiveBoard</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>