<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1ded580a-a015-4638-88ec-9e3d39d3d1a3" Alias="aboutPage" Level="1">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1c228a84-5add-449e-9834-b56827916050">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2011b729-f52f-4403-b637-92e242ec47e8" SortOrder="2">historyAndObjectivesPage1</ContentType>
    <ContentType Key="0f3dae57-5bfa-4420-af0a-2d041804883d" SortOrder="3">executiveBoard1</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>