<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8b5fd946-95f4-4e94-b738-8ce6c8ae79dd" Alias="captionImageSettings" Level="4">
  <Info>
    <Name>Caption Image Settings</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Bootstrap/Elements/Settings</Folder>
    <Compositions>
      <Composition Key="7fb2ee2f-c3d5-40e1-bb8b-ee6981b27629">elementSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>43a9e9a6-a15f-4256-9dde-97e28babe977</Key>
      <Name>Height</Name>
      <Alias>height</Alias>
      <Definition>27504671-e695-4ba5-a3a2-6cb7bf06e745</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/dimensions">Dimensions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00c0cf00-c7c1-4b6c-ac8e-f122dfa288ae</Key>
      <Name>Image Position</Name>
      <Alias>imagePosition</Alias>
      <Definition>dfb1a64d-a170-411b-ae0e-c425a10723de</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bccc6369-8c7c-4ffe-a0f6-f8cf50fa56c3</Key>
      <Name>Width</Name>
      <Alias>width</Alias>
      <Definition>27504671-e695-4ba5-a3a2-6cb7bf06e745</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/dimensions">Dimensions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>45552f6c-85a3-4fb5-b90f-d379b4dbaced</Key>
      <Caption>Dimensions</Caption>
      <Alias>settings/dimensions</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>9b44b3dc-98ff-4048-ad43-247f7c3cdb95</Key>
      <Caption>Design</Caption>
      <Alias>settings/design</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>