<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="53bd4401-9a87-4ad6-81a7-2a8e343cf1ba" Alias="columnElementSettings" Level="4">
  <Info>
    <Name>Column Element Settings</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Bootstrap/Elements/Settings</Folder>
    <Compositions>
      <Composition Key="7fb2ee2f-c3d5-40e1-bb8b-ee6981b27629">elementSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>