<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15119e5e-7145-432c-9667-58709acfdd27" Alias="contactForm" Level="1">
  <Info>
    <Name>Contact Form</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="a9eef64b-b264-4424-bb83-786acecf1dee">standardPage</Composition>
    </Compositions>
    <DefaultTemplate>ContactForm</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="02b5c7f3-33ae-49c5-8792-1a265373e902">ContactForm</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>