<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f231f57-2efd-463b-9b5e-607f0cebd92a" Alias="eBoardMember" Level="1">
  <Info>
    <Name>E-Board Member</Name>
    <Icon>icon-user-female color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6b918289-3476-4542-b222-80ccae78337c</Key>
      <Name>Name</Name>
      <Alias>displayName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[E-Board member's name]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95e0cf11-0cc1-4d9c-be50-90ca7c09bf72</Key>
      <Name>Photo</Name>
      <Alias>photo</Alias>
      <Definition>1df9f033-e6d4-451f-b8d2-e0cbc50a836f</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[E-Board Member's Photo]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f0fa5092-76ab-4604-b61e-025ce5efc46c</Key>
      <Name>Role</Name>
      <Alias>role</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[E-Board Role]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="profile">Profile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1b9005b1-dd68-4ef3-bb73-460c53ec9b4e</Key>
      <Caption>Profile</Caption>
      <Alias>profile</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>