<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7fb2ee2f-c3d5-40e1-bb8b-ee6981b27629" Alias="elementSettings" Level="4">
  <Info>
    <Name>Element Settings</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Bootstrap/Elements/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5c0ca01d-7262-4c27-b40f-f97b1e244d3a</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>c824de17-ea87-4b63-a4c9-49033da999aa</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify a background color to apply to the element if supported]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>edbd0c5c-8e53-4fe2-bcc7-4a0de9cff088</Key>
      <Name>Background Image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>da181fe3-8148-47c9-a377-6ea71a13d632</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Upload a background Image that will be displayed if supported]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>997fd6c7-e919-4afd-bbcb-8243e09fc81a</Key>
      <Name>CSS Class</Name>
      <Alias>cssClass</Alias>
      <Definition>d4554878-5fa6-4e65-a2a6-b2aadd45604b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a list of CSS classes to add to the element]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f33ccac3-1f1c-4803-a58a-b71b38afc94a</Key>
      <Name>Inline Styles</Name>
      <Alias>inlineStyles</Alias>
      <Definition>521e87af-1065-4d4c-a957-4b3b004d99fc</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter any inline styles that will be applied to the element]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9481083d-4a39-40ac-b452-4b7470dbedaf</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c6e40b3b-cfda-4fb5-a3bc-0d870f4c06af</Key>
      <Caption>Background</Caption>
      <Alias>settings/background</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>