<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7e404f08-797f-43dd-bb53-f187b14f365d" Alias="eventsPage" Level="1">
  <Info>
    <Name>Events Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="a9eef64b-b264-4424-bb83-786acecf1dee">standardPage</Composition>
    </Compositions>
    <DefaultTemplate>EventsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9d081ef8-7a45-4e35-a6f2-3dddd41d93e0">EventsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="866a0d5c-9712-4e13-b469-617069ed43e5" SortOrder="0">eventPost</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>