<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f3dae57-5bfa-4420-af0a-2d041804883d" Alias="executiveBoard1" Level="1">
  <Info>
    <Name>Executive Board (copy)</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ExecutiveBoard</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1c3df99c-383a-4a62-a444-8efc35ce9e36">ExecutiveBoard</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>002b0e7c-b5ea-43b1-a95a-f2c0773c2913</Key>
      <Name>Page Content</Name>
      <Alias>pageContent</Alias>
      <Definition>dd096bfc-5280-42c1-bba9-e61a8be1d34d</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f5a9250-df59-4713-83d5-1fab7e33bcab</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>6ac5db7f-610c-4f68-bb79-435a3dba4f7e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>11ffbbe2-d78b-4bf9-8fbc-bd1dc9914f05</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ad64c548-f053-4e34-b0ee-de9143ee36e8</Key>
      <Caption>Design</Caption>
      <Alias>design</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>