<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2011b729-f52f-4403-b637-92e242ec47e8" Alias="historyAndObjectivesPage1" Level="1">
  <Info>
    <Name>History and Objectives Page (copy)</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="a9eef64b-b264-4424-bb83-786acecf1dee">standardPage</Composition>
    </Compositions>
    <DefaultTemplate>HistoryAndObjectives</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f90a1eb9-6513-469f-8ce3-b8f29af2af13">HistoryAndObjectives</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>