<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99376868-f396-4951-ac35-a834dc0417c4" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="a9eef64b-b264-4424-bb83-786acecf1dee">standardPage</Composition>
    </Compositions>
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b8e35358-fd69-4059-ad76-7770bed13574">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="15119e5e-7145-432c-9667-58709acfdd27" SortOrder="0">contactForm</ContentType>
    <ContentType Key="1ded580a-a015-4638-88ec-9e3d39d3d1a3" SortOrder="1">aboutPage</ContentType>
    <ContentType Key="7e404f08-797f-43dd-bb53-f187b14f365d" SortOrder="2">eventsPage</ContentType>
    <ContentType Key="a9eef64b-b264-4424-bb83-786acecf1dee" SortOrder="3">standardPage</ContentType>
    <ContentType Key="99376868-f396-4951-ac35-a834dc0417c4" SortOrder="4">homePage</ContentType>
    <ContentType Key="0ac15b63-7a04-42c1-bc10-a6f88a016aa6" SortOrder="5">aboutPage2</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2a36bfd7-ab09-4751-b33c-8980d7cf096c</Key>
      <Name>Banner</Name>
      <Alias>banner</Alias>
      <Definition>dd096bfc-5280-42c1-bba9-e61a8be1d34d</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d554ab82-102d-4672-b09e-cff42f75db57</Key>
      <Caption>Design</Caption>
      <Alias>design</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>