<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fed48f5d-101e-4b7f-9433-32e88d807ba4" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3844d3a4-65b3-4e06-a516-f80ebce92d55">textpageMaster</Parent>
    <Compositions>
      <Composition Key="3844d3a4-65b3-4e06-a516-f80ebce92d55">textpageMaster</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eebecc41-d8a2-4054-9994-de8cfc304d8b">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3844d3a4-65b3-4e06-a516-f80ebce92d55" SortOrder="0">textpageMaster</ContentType>
    <ContentType Key="fcbc1db7-a104-4329-bd02-01397f0b51d5" SortOrder="1">about</ContentType>
    <ContentType Key="7e404f08-797f-43dd-bb53-f187b14f365d" SortOrder="2">eventsPage</ContentType>
    <ContentType Key="d2f56868-0edd-46e6-bca2-0175d41847eb" SortOrder="3">contactUs</ContentType>
    <ContentType Key="74341ca0-0112-464b-b5e4-1f381524dcda" SortOrder="4">joinROCNSBE</ContentType>
    <ContentType Key="4400c6fd-38c9-48fb-8d91-c56816c71fd1" SortOrder="5">joinMailingList</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>98fc1e06-43a6-41ab-9025-efeb8e9b645d</Key>
      <Name>Banner Background</Name>
      <Alias>bannerBackground</Alias>
      <Definition>1df9f033-e6d4-451f-b8d2-e0cbc50a836f</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homePage/bannerSection1">Banner Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>402d3952-68fe-498b-a9f2-bc32cac36c60</Key>
      <Name>Banner Subtitle</Name>
      <Alias>bannerSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="homePage/bannerSection1">Banner Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07b7e77d-020d-4b26-938c-4d30e873c220</Key>
      <Name>Banner Title</Name>
      <Alias>bannerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="homePage/bannerSection1">Banner Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47a93fd4-7566-4a30-8548-52c74427f8e8</Key>
      <Name>Extended Mission Statement</Name>
      <Alias>extendedMissionStatement2</Alias>
      <Definition>33547204-9bc5-46f7-bcd4-aa73c8b99b3d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="homePage/missionStatement">Mission Statement</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>958a7828-ccc1-4a45-840d-b4583212ee32</Key>
      <Name>Statement</Name>
      <Alias>missionStatement</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="homePage/missionStatement">Mission Statement</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66330700-c632-4497-9a23-8a5e0770057d</Key>
      <Name>Heading</Name>
      <Alias>missionStatementHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homePage/missionStatement">Mission Statement</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2d743789-39bd-4753-9a37-06ee34d5b035</Key>
      <Caption>Home Page</Caption>
      <Alias>homePage</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9169153b-144c-42cb-b76e-e7a661a285fd</Key>
      <Caption>Banner Section</Caption>
      <Alias>homePage/bannerSection1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>bd39255f-db6f-46d1-b74b-5de635d85a26</Key>
      <Caption>Mission Statement</Caption>
      <Alias>homePage/missionStatement</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>