<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4400c6fd-38c9-48fb-8d91-c56816c71fd1" Alias="joinMailingList" Level="2">
  <Info>
    <Name>Join Mailing List</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3844d3a4-65b3-4e06-a516-f80ebce92d55">textpageMaster</Parent>
    <Compositions>
      <Composition Key="3844d3a4-65b3-4e06-a516-f80ebce92d55">textpageMaster</Composition>
    </Compositions>
    <DefaultTemplate>JoinMailingList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b10cd7ff-1981-49cf-9e2b-abe0fb2862e2">JoinMailingList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>