<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="289bf26d-85f7-43a3-85b2-705f26f0a9d1" Alias="richTextElementSettings1" Level="4">
  <Info>
    <Name>Image Element Settings</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Bootstrap/Elements/Settings</Folder>
    <Compositions>
      <Composition Key="7fb2ee2f-c3d5-40e1-bb8b-ee6981b27629">elementSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a4472c62-2b48-4077-a87b-01849d55d634</Key>
      <Name>Height</Name>
      <Alias>height</Alias>
      <Definition>27504671-e695-4ba5-a3a2-6cb7bf06e745</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f75ac6a1-4ff1-4375-8adb-115e88a4e3aa</Key>
      <Name>Width</Name>
      <Alias>width</Alias>
      <Definition>27504671-e695-4ba5-a3a2-6cb7bf06e745</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b5c3472e-950b-47ca-908a-b954c9457c90</Key>
      <Caption>Image</Caption>
      <Alias>settings/image</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>