<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9eef64b-b264-4424-bb83-786acecf1dee" Alias="standardPage" Level="1">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>12ColumnPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="178858e5-464c-4e92-bd9c-bcc9ebc3e40f">12ColumnPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>adc597f7-0bdd-4f99-88e7-ce3a329cc631</Key>
      <Name>Page Content</Name>
      <Alias>body</Alias>
      <Definition>dd096bfc-5280-42c1-bba9-e61a8be1d34d</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27797c55-42d9-458a-bd55-c56df78657bb</Key>
      <Name>Featured Image</Name>
      <Alias>featuredImage</Alias>
      <Definition>ccc02495-a038-4208-a7ea-47e60ba8a05b</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c759c0fa-ab79-4a53-926d-3ce1e1967f1f</Key>
      <Name>Navigation Title</Name>
      <Alias>navigationTitle</Alias>
      <Definition>da1789a8-f45b-4eb2-86e8-685666ad2baa</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The navigation title is the page’s name in the navigation menu.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>117ef01e-1459-44d0-b100-504d7db2a92b</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>6ac5db7f-610c-4f68-bb79-435a3dba4f7e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page title appears in the top of the browser window.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4754e2ff-d7d4-4597-a2a2-c4b8b693d21e</Key>
      <Name>URL Slug</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>68a0ca22-14ab-4e37-8e85-ace822dc01e1</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The unique location slug for this page. Leave blank to use the default value.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>586e75fc-17db-42a1-bca0-2e9e53604c57</Key>
      <Caption>Media</Caption>
      <Alias>media</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>75ea6fb7-5f32-411f-af2d-9d848f20c9d6</Key>
      <Caption>Design</Caption>
      <Alias>design</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fc58855e-525a-48f5-8db8-3e72176f2bb7</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>